html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  display: block;
}

#canvas-div {
  position: relative;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  border: 1px solid white;
}

#button-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  background: rgb(190, 152, 207);
}

button:hover {
  background: rgb(144, 37, 190);
}
