html,
body {
  margin: 0;
  padding: 0;
  background: "black";
}

canvas {
  display: block;
}

#canvas-div {
  width: fit-content;
  margin: auto;
}

#button-div {
  position: absolute;
  width: fit-content;
  top: 140px;
  left: 130px;
  display: flex;
  flex-direction: column;
